In [0]:
l = [('X' , )]

In [0]:
df = spark.createDataFrame(l , "dummy STRING")

In [0]:
df.printSchema

Out[3]: <bound method DataFrame.printSchema of DataFrame[dummy: string]>

In [0]:
df.show()

+-----+
|dummy|
+-----+
|    X|
+-----+

In [0]:
from pyspark.sql.functions import current_date
df.select(current_date().alias("today's_date")). \
show()

+------------+
|today's_date|
+------------+
|  2023-02-15|
+------------+

In [0]:
employees = [
(1, "Scott", "Tiger", 1000.0,
"united states", "+1 123 456 7890", "123 45 6789"
),
(2, "Henry", "Ford",  1250.0,
"India", "+91 234 567 8901", "456 78 9123"
),
(3, "Nick", "Junior", 750.0,
"united KINGDOM", "+44 111 111 1111", "222 33 4444"
),
(4, "Bill", "Gomes", 1590.0,
"AUSTRALIA", "+61 987 654 3210", "789 12 6118"
)
]

In [0]:
employeeDF = spark.createDataFrame(employees, 
                                  schema= """employee_id INT , first_name STRING, last_name STRING,
                                  salary FLOAT, nationality STRING, phone_number STRING , ssn STRING""" )

In [0]:
employeeDF.show()

+-----------+----------+---------+------+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+--------------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0| united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0|         India|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0|united KINGDOM|+44 111 111 1111|222 33 4444|
|          4|      Bill|    Gomes|1590.0|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+--------------+----------------+-----------+

In [0]:
help(current_date())

Help on Column in module pyspark.sql.column object:

class Column(builtins.object)
 |  Column(jc: py4j.java_gateway.JavaObject) -> None
 |
 |  A column in a DataFrame.
 |
 |  :class:`Column` instances can be created by::
 |
 |      # 1. Select a column out of a DataFrame
 |
 |      df.colName
 |      df["colName"]
 |
 |      # 2. Create from an expression
 |      df.colName + 1
 |      1 / df.colName
 |
 |  .. versionadded:: 1.3.0
 |
 |  Methods defined here:
 |
 |  __add__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __and__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __bool__ = __nonzero__(self) -> None
 |
 |  __contains__(self, item: Any) -> None
 |      # container operators
 |
 |  __div__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __eq__(self, other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary function
 |
 |  __ge__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __getattr__(self, item: Any) -> 'Column'
 |
 |  __getitem__(self, k: Any) -> 'Column'
 |
 |  __gt__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __init__(self, jc: py4j.java_gateway.JavaObject) -> None
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __invert__ = _(self: 'Column') -> 'Column'
 |
 |  __iter__(self) -> None
 |
 |  __le__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __lt__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __mod__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __mul__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __ne__(self, other: Any) -> 'Column'
 |      binary function
 |
 |  __neg__ = _(self: 'Column') -> 'Column'
 |
 |  __nonzero__(self) -> None
 |
 |  __or__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __pow__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral')]) -> 'Column'
 |      binary function
 |
 |  __radd__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __rand__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __rdiv__ = _(self: 'Column', other: Union[ForwardRef('LiteralType'), ForwardRef('DecimalLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __repr__(self) -> str
 |      Return repr(self).
 |
 |  __rmod__ = _(self: 'Column', other: Union[ForwardRef('LiteralType'), ForwardRef('DecimalLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __rmul__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __ror__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __rpow__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral')]) -> 'Column'
 |      binary function
 |
 |  __rsub__ = _(self: 'Column', other: Union[ForwardRef('LiteralType'), ForwardRef('DecimalLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __rtruediv__ = _(self: 'Column', other: Union[ForwardRef('LiteralType'), ForwardRef('DecimalLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __sub__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  __truediv__ = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      binary operator
 |
 |  alias(self, *alias: str, **kwargs: Any) -> 'Column'
 |      Returns this column aliased with a new name or names (in the case of expressions that
 |      return more than one column, such as explode).
 |
 |      .. versionadded:: 1.3.0
 |
 |      Parameters
 |      ----------
 |      alias : str
 |          desired column names (collects all positional arguments passed)
 |
 |      Other Parameters
 |      ----------------
 |      metadata: dict
 |          a dict of information to be stored in ``metadata`` attribute of the
 |          corresponding :class:`StructField <pyspark.sql.types.StructField>` (optional, keyword
 |          only argument)
 |
 |          .. versionchanged:: 2.2.0
 |             Added optional ``metadata`` argument.
 |
 |      Examples
 |      --------
 |      >>> df.select(df.age.alias("age2")).collect()
 |      [Row(age2=2), Row(age2=5)]
 |      >>> df.select(df.age.alias("age3", metadata={'max': 99})).schema['age3'].metadata['max']
 |      99
 |
 |  asc = _(self: 'Column') -> 'Column'
 |      Returns a sort expression based on ascending order of the column.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([('Tom', 80), ('Alice', None)], ["name", "height"])
 |      >>> df.select(df.name).orderBy(df.name.asc()).collect()
 |      [Row(name='Alice'), Row(name='Tom')]
 |
 |  asc_nulls_first = _(self: 'Column') -> 'Column'
 |      Returns a sort expression based on ascending order of the column, and null values
 |      return before non-null values.
 |
 |      .. versionadded:: 2.4.0
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([('Tom', 80), (None, 60), ('Alice', None)], ["name", "height"])
 |      >>> df.select(df.name).orderBy(df.name.asc_nulls_first()).collect()
 |      [Row(name=None), Row(name='Alice'), Row(name='Tom')]
 |
 |  asc_nulls_last = _(self: 'Column') -> 'Column'
 |      Returns a sort expression based on ascending order of the column, and null values
 |      appear after non-null values.
 |
 |      .. versionadded:: 2.4.0
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([('Tom', 80), (None, 60), ('Alice', None)], ["name", "height"])
 |      >>> df.select(df.name).orderBy(df.name.asc_nulls_last()).collect()
 |      [Row(name='Alice'), Row(name='Tom'), Row(name=None)]
 |
 |  astype = cast(self, dataType)
 |      :func:`astype` is an alias for :func:`cast`.
 |
 |      .. versionadded:: 1.4
 |
 |  between(self, lowerBound: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DateTimeLiteral'), ForwardRef('DecimalLiteral')], upperBound: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DateTimeLiteral'), ForwardRef('DecimalLiteral')]) -> 'Column'
 |      True if the current column is between the lower bound and upper bound, inclusive.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.select(df.name, df.age.between(2, 4)).show()
 |      +-----+---------------------------+
 |      | name|((age >= 2) AND (age <= 4))|
 |      +-----+---------------------------+
 |      |Alice|                       true|
 |      |  Bob|                      false|
 |      +-----+---------------------------+
 |
 |  bitwiseAND = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      Compute bitwise AND of this expression with another expression.
 |
 |      Parameters
 |      ----------
 |      other
 |          a value or :class:`Column` to calculate bitwise and(&) with
 |          this :class:`Column`.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([Row(a=170, b=75)])
 |      >>> df.select(df.a.bitwiseAND(df.b)).collect()
 |      [Row((a & b)=10)]
 |
 |  bitwiseOR = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      Compute bitwise OR of this expression with another expression.
 |
 |      Parameters
 |      ----------
 |      other
 |          a value or :class:`Column` to calculate bitwise or(|) with
 |          this :class:`Column`.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([Row(a=170, b=75)])
 |      >>> df.select(df.a.bitwiseOR(df.b)).collect()
 |      [Row((a | b)=235)]
 |
 |  bitwiseXOR = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      Compute bitwise XOR of this expression with another expression.
 |
 |      Parameters
 |      ----------
 |      other
 |          a value or :class:`Column` to calculate bitwise xor(^) with
 |          this :class:`Column`.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([Row(a=170, b=75)])
 |      >>> df.select(df.a.bitwiseXOR(df.b)).collect()
 |      [Row((a ^ b)=225)]
 |
 |  cast(self, dataType: Union[pyspark.sql.types.DataType, str]) -> 'Column'
 |      Casts the column into type ``dataType``.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df.select(df.age.cast("string").alias('ages')).collect()
 |      [Row(ages='2'), Row(ages='5')]
 |      >>> df.select(df.age.cast(StringType()).alias('ages')).collect()
 |      [Row(ages='2'), Row(ages='5')]
 |
 |  contains = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      Contains the other element. Returns a boolean :class:`Column` based on a string match.
 |
 |      Parameters
 |      ----------
 |      other
 |          string in line. A value as a literal or a :class:`Column`.
 |
 |      Examples
 |      --------
 |      >>> df.filter(df.name.contains('o')).collect()
 |      [Row(age=5, name='Bob')]
 |
 |  desc = _(self: 'Column') -> 'Column'
 |      Returns a sort expression based on the descending order of the column.
 |
 |      .. versionadded:: 2.4.0
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([('Tom', 80), ('Alice', None)], ["name", "height"])
 |      >>> df.select(df.name).orderBy(df.name.desc()).collect()
 |      [Row(name='Tom'), Row(name='Alice')]
 |
 |  desc_nulls_first = _(self: 'Column') -> 'Column'
 |      Returns a sort expression based on the descending order of the column, and null values
 |      appear before non-null values.
 |
 |      .. versionadded:: 2.4.0
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([('Tom', 80), (None, 60), ('Alice', None)], ["name", "height"])
 |      >>> df.select(df.name).orderBy(df.name.desc_nulls_first()).collect()
 |      [Row(name=None), Row(name='Tom'), Row(name='Alice')]
 |
 |  desc_nulls_last = _(self: 'Column') -> 'Column'
 |      Returns a sort expression based on the descending order of the column, and null values
 |      appear after non-null values.
 |
 |      .. versionadded:: 2.4.0
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([('Tom', 80), (None, 60), ('Alice', None)], ["name", "height"])
 |      >>> df.select(df.name).orderBy(df.name.desc_nulls_last()).collect()
 |      [Row(name='Tom'), Row(name='Alice'), Row(name=None)]
 |
 |  dropFields(self, *fieldNames: str) -> 'Column'
 |      An expression that drops fields in :class:`StructType` by name.
 |      This is a no-op if schema doesn't contain field name(s).
 |
 |      .. versionadded:: 3.1.0
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> from pyspark.sql.functions import col, lit
 |      >>> df = spark.createDataFrame([
 |      ...     Row(a=Row(b=1, c=2, d=3, e=Row(f=4, g=5, h=6)))])
 |      >>> df.withColumn('a', df['a'].dropFields('b')).show()
 |      +-----------------+
 |      |                a|
 |      +-----------------+
 |      |{2, 3, {4, 5, 6}}|
 |      +-----------------+
 |
 |      >>> df.withColumn('a', df['a'].dropFields('b', 'c')).show()
 |      +--------------+
 |      |             a|
 |      +--------------+
 |      |{3, {4, 5, 6}}|
 |      +--------------+
 |
 |      This method supports dropping multiple nested fields directly e.g.
 |
 |      >>> df.withColumn("a", col("a").dropFields("e.g", "e.h")).show()
 |      +--------------+
 |      |             a|
 |      +--------------+
 |      |{1, 2, 3, {4}}|
 |      +--------------+
 |
 |      However, if you are going to add/replace multiple nested fields,
 |      it is preferred to extract out the nested struct before
 |      adding/replacing multiple fields e.g.
 |
 |      >>> df.select(col("a").withField(
 |      ...     "e", col("a.e").dropFields("g", "h")).alias("a")
 |      ... ).show()
 |      +--------------+
 |      |             a|
 |      +--------------+
 |      |{1, 2, 3, {4}}|
 |      +--------------+
 |
 |  endswith = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      String ends with. Returns a boolean :class:`Column` based on a string match.
 |
 |      Parameters
 |      ----------
 |      other : :class:`Column` or str
 |          string at end of line (do not use a regex `$`)
 |
 |      Examples
 |      --------
 |      >>> df.filter(df.name.endswith('ice')).collect()
 |      [Row(age=2, name='Alice')]
 |      >>> df.filter(df.name.endswith('ice$')).collect()
 |      []
 |
 |  eqNullSafe = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      Equality test that is safe for null values.
 |
 |      .. versionadded:: 2.3.0
 |
 |      Parameters
 |      ----------
 |      other
 |          a value or :class:`Column`
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df1 = spark.createDataFrame([
 |      ...     Row(id=1, value='foo'),
 |      ...     Row(id=2, value=None)
 |      ... ])
 |      >>> df1.select(
 |      ...     df1['value'] == 'foo',
 |      ...     df1['value'].eqNullSafe('foo'),
 |      ...     df1['value'].eqNullSafe(None)
 |      ... ).show()
 |      +-------------+---------------+----------------+
 |      |(value = foo)|(value <=> foo)|(value <=> NULL)|
 |      +-------------+---------------+----------------+
 |      |         true|           true|           false|
 |      |         null|          false|            true|
 |      +-------------+---------------+----------------+
 |      >>> df2 = spark.createDataFrame([
 |      ...     Row(value = 'bar'),
 |      ...     Row(value = None)
 |      ... ])
 |      >>> df1.join(df2, df1["value"] == df2["value"]).count()
 |      0
 |      >>> df1.join(df2, df1["value"].eqNullSafe(df2["value"])).count()
 |      1
 |      >>> df2 = spark.createDataFrame([
 |      ...     Row(id=1, value=float('NaN')),
 |      ...     Row(id=2, value=42.0),
 |      ...     Row(id=3, value=None)
 |      ... ])
 |      >>> df2.select(
 |      ...     df2['value'].eqNullSafe(None),
 |      ...     df2['value'].eqNullSafe(float('NaN')),
 |      ...     df2['value'].eqNullSafe(42.0)
 |      ... ).show()
 |      +----------------+---------------+----------------+
 |      |(value <=> NULL)|(value <=> NaN)|(value <=> 42.0)|
 |      +----------------+---------------+----------------+
 |      |           false|           true|           false|
 |      |           false|          false|            true|
 |      |            true|          false|           false|
 |      +----------------+---------------+----------------+
 |
 |      Notes
 |      -----
 |      Unlike Pandas, PySpark doesn't consider NaN values to be NULL. See the
 |      `NaN Semantics <https://spark.apache.org/docs/latest/sql-ref-datatypes.html#nan-semantics>`_
 |      for details.
 |
 |  getField(self, name: Any) -> 'Column'
 |      An expression that gets a field by name in a :class:`StructType`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([Row(r=Row(a=1, b="b"))])
 |      >>> df.select(df.r.getField("b")).show()
 |      +---+
 |      |r.b|
 |      +---+
 |      |  b|
 |      +---+
 |      >>> df.select(df.r.a).show()
 |      +---+
 |      |r.a|
 |      +---+
 |      |  1|
 |      +---+
 |
 |  getItem(self, key: Any) -> 'Column'
 |      An expression that gets an item at position ``ordinal`` out of a list,
 |      or gets an item by key out of a dict.
 |
 |      .. versionadded:: 1.3.0
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame([([1, 2], {"key": "value"})], ["l", "d"])
 |      >>> df.select(df.l.getItem(0), df.d.getItem("key")).show()
 |      +----+------+
 |      |l[0]|d[key]|
 |      +----+------+
 |      |   1| value|
 |      +----+------+
 |
 |  ilike = _(self: 'Column', other: Union[ForwardRef('Column'), ForwardRef('LiteralType'), ForwardRef('DecimalLiteral'), ForwardRef('DateTimeLiteral')]) -> 'Column'
 |      SQL ILIKE expression (case insensitive LIKE). Returns a boolean :class:`Column`
 |      based on a case insensitive match.
 |
 |      .. versionadded:: 3.3.0
 |
 |      Parameters
 |      ----------
 |      other : str
 |          a SQL LIKE pattern
 |
 |      See Also
 |      --------
 |      pyspark.sql.Column.rlike
 |
 |      Examples
 |      --------
 |      >>> df.filter(df.name.ilike('%Ice')).collect()
 |      [Row(age=2, name='Alice')]
 |
 |  isNotNull = _(self: 'Column') -> 'Column'
 |      True if the current expression is NOT null.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([Row(name='Tom', height=80), Row(name='Alice', height=None)])
 |      >>> df.filter(df.height.isNotNull()).collect()
 |      [Row(name='Tom', height=80)]
 |
 |  isNull = _(self: 'Column') -> 'Column'
 |      True if the current expression is null.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Row
 |      >>> df = spark.createDataFrame([Row(name='Tom', height=80), Row(name='Alice', height=None)])
 |      >>> df.filter(df.height.isNull()).collect()
 |      [Row(name='Alice', height=None)]
 |
 |  isin(self, *cols: Any) -> 'Column'

In [0]:
from pyspark.sql.functions import *
help(upper)

Help on function upper in module pyspark.sql.functions:

upper(col: 'ColumnOrName') -> pyspark.sql.column.Column
    Converts a string expression to upper case.

    .. versionadded:: 1.5

In [0]:
employeeDF.withColumn('nationality' , upper('nationality')).show()

+-----------+----------+---------+------+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+--------------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0| UNITED STATES| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0|         INDIA|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0|UNITED KINGDOM|+44 111 111 1111|222 33 4444|
|          4|      Bill|    Gomes|1590.0|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+--------------+----------------+-----------+

In [0]:
help(date_format)

Help on function date_format in module pyspark.sql.functions:

date_format(date: 'ColumnOrName', format: str) -> pyspark.sql.column.Column
    Converts a date/timestamp/string to a value of string in the format specified by the date
    format given by the second argument.

    A pattern could be for instance `dd.MM.yyyy` and could return a string like '18.03.1993'. All
    pattern letters of `datetime pattern`_. can be used.

    .. _datetime pattern: https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html

    .. versionadded:: 1.5.0

    Notes
    -----
    Whenever possible, use specialized functions like `year`.

    Examples
    --------
    >>> df = spark.createDataFrame([('2015-04-08',)], ['dt'])
    >>> df.select(date_format('dt', 'MM/dd/yyy').alias('date')).collect()
    [Row(date='04/08/2015')]

In [0]:
help(col)

Help on function col in module pyspark.sql.functions:

col(col: str) -> pyspark.sql.column.Column
    Returns a :class:`~pyspark.sql.Column` based on the given column name.

    Examples
    --------
    >>> col('x')
    Column<'x'>
    >>> column('x')
    Column<'x'>

    .. versionadded:: 1.3

In [0]:
from pyspark.sql.column import Column
employeeDF.\
    orderBy(upper(employeeDF.first_name).alias('name')).\
    show()

+-----------+----------+---------+------+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+--------------+----------------+-----------+
|          4|      Bill|    Gomes|1590.0|     AUSTRALIA|+61 987 654 3210|789 12 6118|
|          2|     Henry|     Ford|1250.0|         India|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0|united KINGDOM|+44 111 111 1111|222 33 4444|
|          1|     Scott|    Tiger|1000.0| united states| +1 123 456 7890|123 45 6789|
+-----------+----------+---------+------+--------------+----------------+-----------+

In [0]:
#'str' object has no attribute 'desc', it has to be converted to column object
# employeeDF.\
#     orderBy('first_name'.desc()).\
#     show()

In [0]:
employeeDF.\
    orderBy(col('first_name').desc()).\
    show()

+-----------+----------+---------+------+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+--------------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0| united states| +1 123 456 7890|123 45 6789|
|          3|      Nick|   Junior| 750.0|united KINGDOM|+44 111 111 1111|222 33 4444|
|          2|     Henry|     Ford|1250.0|         India|+91 234 567 8901|456 78 9123|
|          4|      Bill|    Gomes|1590.0|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+--------------+----------------+-----------+

In [0]:
employeeDF.\
    orderBy((employeeDF.first_name).desc()).\
    show()

+-----------+----------+---------+------+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+--------------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0| united states| +1 123 456 7890|123 45 6789|
|          3|      Nick|   Junior| 750.0|united KINGDOM|+44 111 111 1111|222 33 4444|
|          2|     Henry|     Ford|1250.0|         India|+91 234 567 8901|456 78 9123|
|          4|      Bill|    Gomes|1590.0|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+--------------+----------------+-----------+

In [0]:
from pyspark.sql.column import Column
employeeDF.\
    orderBy(upper(employeeDF.first_name).alias('name')).\
    show()

+-----------+----------+---------+------+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+--------------+----------------+-----------+
|          4|      Bill|    Gomes|1590.0|     AUSTRALIA|+61 987 654 3210|789 12 6118|
|          2|     Henry|     Ford|1250.0|         India|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0|united KINGDOM|+44 111 111 1111|222 33 4444|
|          1|     Scott|    Tiger|1000.0| united states| +1 123 456 7890|123 45 6789|
+-----------+----------+---------+------+--------------+----------------+-----------+

In [0]:
help(lit)

Help on function lit in module pyspark.sql.functions:

lit(col: Any) -> pyspark.sql.column.Column
    Creates a :class:`~pyspark.sql.Column` of literal value.

    .. versionadded:: 1.3.0

    Examples
    --------
    >>> df.select(lit(5).alias('height')).withColumn('spark_user', lit(True)).take(1)
    [Row(height=5, spark_user=True)]

In [0]:
#coma is considered as a column name , literals has to be converted using lit function
# from pyspark.sql.functions import concat
# employeeDF.\
#     select(concat('first_name'), ", ", ('last_name')).\
#     show()

In [0]:
employeeDF.\
    select(concat(col("first_name"), 
                  lit(", "), 
                  col("last_name")
                 ).alias("full_name")
          ).\
     show()

+------------+
|   full_name|
+------------+
|Scott, Tiger|
| Henry, Ford|
|Nick, Junior|
| Bill, Gomes|
+------------+

In [0]:
employeeDF.show()

+-----------+----------+---------+------+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+--------------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0| united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0|         India|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0|united KINGDOM|+44 111 111 1111|222 33 4444|
|          4|      Bill|    Gomes|1590.0|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+--------------+----------------+-----------+

In [0]:
employeeDF.\
    select('employee_id',
          concat(col("first_name"), 
                  lit("_ "), 
                  col("last_name")
                 ).alias("full_name"),
           'salary',
           ((col('salary') * lit(0.2)).alias("bonus"))
          ).\
    show()

+-----------+------------+------+-----+
|employee_id|   full_name|salary|bonus|
+-----------+------------+------+-----+
|          1|Scott_ Tiger|1000.0|200.0|
|          2| Henry_ Ford|1250.0|250.0|
|          3|Nick_ Junior| 750.0|150.0|
|          4| Bill_ Gomes|1590.0|318.0|
+-----------+------------+------+-----+

In [0]:
employeeDF.\
    orderBy((employeeDF.employee_id).desc()).\
    show()

+-----------+----------+---------+------+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+--------------+----------------+-----------+
|          4|      Bill|    Gomes|1590.0|     AUSTRALIA|+61 987 654 3210|789 12 6118|
|          3|      Nick|   Junior| 750.0|united KINGDOM|+44 111 111 1111|222 33 4444|
|          2|     Henry|     Ford|1250.0|         India|+91 234 567 8901|456 78 9123|
|          1|     Scott|    Tiger|1000.0| united states| +1 123 456 7890|123 45 6789|
+-----------+----------+---------+------+--------------+----------------+-----------+

In [0]:
employeeDF.\
    select('employee_id',
          concat_ws(" " ,
                    col("first_name"),
                    col("last_name")
                   ).alias("full_name"),
           'salary',
           (col('salary') * lit(0.2)).alias("bonus")
          ).\
    show()

+-----------+-----------+------+-----+
|employee_id|  full_name|salary|bonus|
+-----------+-----------+------+-----+
|          1|Scott Tiger|1000.0|200.0|
|          2| Henry Ford|1250.0|250.0|
|          3|Nick Junior| 750.0|150.0|
|          4| Bill Gomes|1590.0|318.0|
+-----------+-----------+------+-----+

In [0]:
employeeDF.\
    select('employee_id',
           initcap(concat_ws(" " ,
                    col("first_name"),
                    col("last_name")
                   )).alias("full_name"),
            upper('nationality').alias('nationality'),
           length('phone_number')
          ).\
    show()

+-----------+-----------+--------------+--------------------+
|employee_id|  full_name|   nationality|length(phone_number)|
+-----------+-----------+--------------+--------------------+
|          1|Scott Tiger| UNITED STATES|                  15|
|          2| Henry Ford|         INDIA|                  16|
|          3|Nick Junior|UNITED KINGDOM|                  16|
|          4| Bill Gomes|     AUSTRALIA|                  16|
+-----------+-----------+--------------+--------------------+

In [0]:
df.select(substring(lit('hello world'),7,5)).show()
df.select(substring(lit('hello world'),-5,5)).show()

+----------------------------+
|substring(hello world, 7, 5)|
+----------------------------+
|                       world|
+----------------------------+

+-----------------------------+
|substring(hello world, -5, 5)|
+-----------------------------+
|                        world|
+-----------------------------+

In [0]:
employeeDF.\
    select('employee_id',
           'phone_number',
           'ssn',
           substring('phone_number',-4,4).alias('last_4')
          ).\
    withColumn('ssn_4' ,substring('ssn',-4,4)).\
    withColumn('ssn_4_split' ,split('ssn', ' ')[2]).\
    withColumn('area_code' , split('phone_number',' ')[1]).\
    show(truncate=False)

+-----------+----------------+-----------+------+-----+-----------+---------+
|employee_id|phone_number    |ssn        |last_4|ssn_4|ssn_4_split|area_code|
+-----------+----------------+-----------+------+-----+-----------+---------+
|1          |+1 123 456 7890 |123 45 6789|7890  |6789 |6789       |123      |
|2          |+91 234 567 8901|456 78 9123|8901  |9123 |9123       |234      |
|3          |+44 111 111 1111|222 33 4444|1111  |4444 |4444       |111      |
|4          |+61 987 654 3210|789 12 6118|3210  |6118 |6118       |987      |
+-----------+----------------+-----------+------+-----+-----------+---------+

In [0]:
help(explode)

Help on function explode in module pyspark.sql.functions:

explode(col: 'ColumnOrName') -> pyspark.sql.column.Column
    Returns a new row for each element in the given array or map.
    Uses the default column name `col` for elements in the array and
    `key` and `value` for elements in the map unless specified otherwise.

    .. versionadded:: 1.4.0

    Examples
    --------
    >>> from pyspark.sql import Row
    >>> eDF = spark.createDataFrame([Row(a=1, intlist=[1,2,3], mapfield={"a": "b"})])
    >>> eDF.select(explode(eDF.intlist).alias("anInt")).collect()
    [Row(anInt=1), Row(anInt=2), Row(anInt=3)]

    >>> eDF.select(explode(eDF.mapfield).alias("key", "value")).show()
    +---+-----+
    |key|value|
    +---+-----+
    |  a|    b|
    +---+-----+

In [0]:
help(split)

Help on function split in module pyspark.sql.functions:

split(str: 'ColumnOrName', pattern: str, limit: int = -1) -> pyspark.sql.column.Column
    Splits str around matches of the given pattern.

    .. versionadded:: 1.5.0

    Parameters
    ----------
    str : :class:`~pyspark.sql.Column` or str
        a string expression to split
    pattern : str
        a string representing a regular expression. The regex string should be
        a Java regular expression.
    limit : int, optional
        an integer which controls the number of times `pattern` is applied.

        * ``limit > 0``: The resulting array's length will not be more than `limit`, and the
                         resulting array's last entry will contain all input beyond the last
                         matched pattern.
        * ``limit <= 0``: `pattern` will be applied as many times as possible, and the resulting
                          array can be of any size.

        .. versionchanged:: 3.0
           `split` now takes an optional `limit` field. If not provided, default limit value is -1.

    Examples
    --------
    >>> df = spark.createDataFrame([('oneAtwoBthreeC',)], ['s',])
    >>> df.select(split(df.s, '[ABC]', 2).alias('s')).collect()
    [Row(s=['one', 'twoBthreeC'])]
    >>> df.select(split(df.s, '[ABC]', -1).alias('s')).collect()
    [Row(s=['one', 'two', 'three', ''])]

In [0]:
df.select(split(lit("hello world")," ")).\
show()

+-------------------------+
|split(hello world,  , -1)|
+-------------------------+
|           [hello, world]|
+-------------------------+

In [0]:
df.select(split(lit("hello world")," ")[1]).\
show()

+----------------------------+
|split(hello world,  , -1)[1]|
+----------------------------+
|                       world|
+----------------------------+

In [0]:
df.select(explode(split(lit("hello world")," ")).alias("word")).\
show()

+-----+
| word|
+-----+
|hello|
|world|
+-----+

In [0]:
emp = [
(1, "Scott", "Tiger", 1000.0,
"united states", "+1 123 456 7890, +1 123 656 7890", "123 45 6789"
),
(2, "Henry", "Ford",  1250.0,
"India", "+91 234 567 8901, +91 656 567 8901", "456 78 9123"
),
(3, "Nick", "Junior", 750.0,
"united KINGDOM", "+44 111 111 1111", "222 33 4444"
),
(4, "Bill", "Gomes", 1590.0,
"AUSTRALIA", "+61 987 654 3210", "789 12 6118"
)
]

In [0]:
empDF = spark.createDataFrame(emp, 
                                  schema= """employee_id INT , first_name STRING, last_name STRING,
                                  salary FLOAT, nationality STRING, phone_numbers STRING , ssn STRING""" )

In [0]:
empDF.show(truncate=False)

+-----------+----------+---------+------+--------------+----------------------------------+-----------+
|employee_id|first_name|last_name|salary|nationality   |phone_numbers                     |ssn        |
+-----------+----------+---------+------+--------------+----------------------------------+-----------+
|1          |Scott     |Tiger    |1000.0|united states |+1 123 456 7890, +1 123 656 7890  |123 45 6789|
|2          |Henry     |Ford     |1250.0|India         |+91 234 567 8901, +91 656 567 8901|456 78 9123|
|3          |Nick      |Junior   |750.0 |united KINGDOM|+44 111 111 1111                  |222 33 4444|
|4          |Bill      |Gomes    |1590.0|AUSTRALIA     |+61 987 654 3210                  |789 12 6118|
+-----------+----------+---------+------+--------------+----------------------------------+-----------+

In [0]:
from pyspark.sql.functions import *
empDF.select('employee_id',explode(split("phone_numbers",", ")).alias("word")).\
show()

+-----------+----------------+
|employee_id|            word|
+-----------+----------------+
|          1| +1 123 456 7890|
|          1| +1 123 656 7890|
|          2|+91 234 567 8901|
|          2|+91 656 567 8901|
|          3|+44 111 111 1111|
|          4|+61 987 654 3210|
+-----------+----------------+

In [0]:
emplDF = empDF.\
    select('employee_id',
          concat_ws(' ','first_name',
                    'last_name').alias("full_name"),
          'phone_numbers').\
    withColumn('phone_number',explode(split('phone_numbers', ',')))

In [0]:
 emplDF.show(truncate=False)

+-----------+-----------+----------------------------------+-----------------+
|employee_id|full_name  |phone_numbers                     |phone_number     |
+-----------+-----------+----------------------------------+-----------------+
|1          |Scott Tiger|+1 123 456 7890, +1 123 656 7890  |+1 123 456 7890  |
|1          |Scott Tiger|+1 123 456 7890, +1 123 656 7890  | +1 123 656 7890 |
|2          |Henry Ford |+91 234 567 8901, +91 656 567 8901|+91 234 567 8901 |
|2          |Henry Ford |+91 234 567 8901, +91 656 567 8901| +91 656 567 8901|
|3          |Nick Junior|+44 111 111 1111                  |+44 111 111 1111 |
|4          |Bill Gomes |+61 987 654 3210                  |+61 987 654 3210 |
+-----------+-----------+----------------------------------+-----------------+

In [0]:
emplDF.\
     groupBy('employee_id').\
     count().\
    show()

+-----------+-----+
|employee_id|count|
+-----------+-----+
|          1|    2|
|          2|    2|
|          3|    1|
|          4|    1|
+-----------+-----+

In [0]:
df.select(lpad(lit('hello'),10,'*').alias('lpad')).show()
df.select(rpad(lit('hello'),10,'*').alias('rpad')).show()

+----------+
|      lpad|
+----------+
|*****hello|
+----------+

+----------+
|      rpad|
+----------+
|hello*****|
+----------+

In [0]:
employeeDF.\
    select(concat(lpad('employee_id', 5, '0'),
                  rpad('first_name', 10, '-'),
                  rpad('last_name', 10, '-'),
                  lpad('salary', 10, '0'),
                  rpad('nationality', 15, '-'),
                  rpad('phone_number', 17, '-')
                 ).alias("employee")
          ).\
            show(truncate=False)

+-------------------------------------------------------------------+
|employee                                                           |
+-------------------------------------------------------------------+
|00001Scott-----Tiger-----00001000.0united states--+1 123 456 7890--|
|00002Henry-----Ford------00001250.0India----------+91 234 567 8901-|
|00003Nick------Junior----00000750.0united KINGDOM-+44 111 111 1111-|
|00004Bill------Gomes-----00001590.0AUSTRALIA------+61 987 654 3210-|
+-------------------------------------------------------------------+

In [0]:
spark.sql('DESCRIBE FUNCTION trim').show(truncate=False)

+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|function_desc                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|Function: trim                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            |
|Class: org.apache.spark.sql.catalyst.expressions.StringTrim                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               |
|Usage: \n    trim(str) - Removes the leading and trailing space characters from `str`.\n\n    trim(BOTH FROM str) - Removes the leading and trailing space characters from `str`.\n\n    trim(LEADING FROM str) - Removes the leading space characters from `str`.\n\n    trim(TRAILING FROM str) - Removes the trailing space characters from `str`.\n\n    trim(trimStr FROM str) - Remove the leading and trailing `trimStr` characters from `str`.\n\n    trim(BOTH trimStr FROM str) - Remove the leading and trailing `trimStr` characters from `str`.\n\n    trim(LEADING trimStr FROM str) - Remove the leading `trimStr` characters from `str`.\n\n    trim(TRAILING trimStr FROM str) - Remove the trailing `trimStr` characters from `str`.\n  |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [0]:
y=[('  hello world   ', )]

In [0]:
df1=spark.createDataFrame(y, "dummy STRING")

In [0]:
df1.show()

+----------------+
|           dummy|
+----------------+
|  hello world   |
+----------------+

In [0]:
df1.\
    select(ltrim("dummy").alias("ltrim"),
           rtrim("dummy").alias("rtrim"),
           trim("dummy").alias("trim")).\
    show()

+--------------+-------------+-----------+
|         ltrim|        rtrim|       trim|
+--------------+-------------+-----------+
|hello world   |  hello world|hello world|
+--------------+-------------+-----------+

In [0]:

df1.\
    withColumn("ltrim", expr("trim(LEADING ' ' FROM dummy)")).\
    withColumn("rtrim", expr("trim(TRAILING ' ' FROM dummy)")).\
    withColumn("trim", expr("trim(BOTH ' ' FROM dummy)")).\
    show()

+----------------+--------------+-------------+-----------+
|           dummy|         ltrim|        rtrim|       trim|
+----------------+--------------+-------------+-----------+
|  hello world   |hello world   |  hello world|hello world|
+----------------+--------------+-------------+-----------+

In [0]:
df.select(to_date(lit("20230119"), "yyyyMMdd").alias("date")).show()
df.select(to_timestamp(lit("20230119 1755"), "yyyyMMdd HHmm").alias("timestamp")).show()

+----------+
|      date|
+----------+
|2023-01-19|
+----------+

+-------------------+
|          timestamp|
+-------------------+
|2023-01-19 17:55:00|
+-------------------+

In [0]:
help(date_add)

Help on function date_add in module pyspark.sql.functions:

date_add(start: 'ColumnOrName', days: Union[ForwardRef('ColumnOrName'), int]) -> pyspark.sql.column.Column
    Returns the date that is `days` days after `start`

    .. versionadded:: 1.5.0

    Examples
    --------
    >>> df = spark.createDataFrame([('2015-04-08', 2,)], ['dt', 'add'])
    >>> df.select(date_add(df.dt, 1).alias('next_date')).collect()
    [Row(next_date=datetime.date(2015, 4, 9))]
    >>> df.select(date_add(df.dt, df.add.cast('integer')).alias('next_date')).collect()
    [Row(next_date=datetime.date(2015, 4, 10))]

In [0]:
datetimes = [
("2014-02-28", "2014-02-28 10:00:00.123"),
("2016-02-29", "2016-02-29 08:08:08.999"),
("2017-10-31", "2017-12-31 11:59:59.123"),
("2019-11-30", "2019-08-31 00:00:00.000"),
("2023-01-10", "2023-01-10 00:00:00.000")
]

In [0]:
datetimesDF = spark.createDataFrame (datetimes, schema="date STRING, time STRING")

In [0]:
datetimesDF.show(truncate=False)

+----------+-----------------------+
|date      |time                   |
+----------+-----------------------+
|2014-02-28|2014-02-28 10:00:00.123|
|2016-02-29|2016-02-29 08:08:08.999|
|2017-10-31|2017-12-31 11:59:59.123|
|2019-11-30|2019-08-31 00:00:00.000|
|2023-01-10|2023-01-10 00:00:00.000|
+----------+-----------------------+

In [0]:
datetimesDF.\
    withColumn("add_time", date_add("time",10)).\
    withColumn("add_date", date_add("date",10)).\
    withColumn("sub_time", date_sub("time",10)).\
    withColumn("sub_date", date_sub("date",10)).\
    withColumn("datediff_date", datediff(current_date(), "date")).\
    withColumn("datediff_time", datediff(current_timestamp(), "time")).\
    withColumn("months_between_time", round(months_between(current_timestamp(), "time" ), 2)).\
    withColumn("months_between_date", months_between(current_date(), "date")).\
    withColumn("add_months_time", add_months("time" , 2)).\
    withColumn("add_months_date", add_months("date" , 2)).\
    show(truncate=False)

+----------+-----------------------+----------+----------+----------+----------+-------------+-------------+-------------------+-------------------+---------------+---------------+
|date      |time                   |add_time  |add_date  |sub_time  |sub_date  |datediff_date|datediff_time|months_between_time|months_between_date|add_months_time|add_months_date|
+----------+-----------------------+----------+----------+----------+----------+-------------+-------------+-------------------+-------------------+---------------+---------------+
|2014-02-28|2014-02-28 10:00:00.123|2014-03-10|2014-03-10|2014-02-18|2014-02-18|3274         |3274         |107.58             |107.58064516       |2014-04-28     |2014-04-28     |
|2016-02-29|2016-02-29 08:08:08.999|2016-03-10|2016-03-10|2016-02-19|2016-02-19|2543         |2543         |83.55              |83.5483871         |2016-04-29     |2016-04-29     |
|2017-10-31|2017-12-31 11:59:59.123|2018-01-10|2017-11-10|2017-12-21|2017-10-21|1933         |1872         |61.48              |63.48387097        |2018-02-28     |2017-12-31     |
|2019-11-30|2019-08-31 00:00:00.000|2019-09-10|2019-12-10|2019-08-21|2019-11-20|1173         |1264         |41.5               |38.51612903        |2019-10-31     |2020-01-30     |
|2023-01-10|2023-01-10 00:00:00.000|2023-01-20|2023-01-20|2022-12-31|2022-12-31|36           |36           |1.18               |1.16129032         |2023-03-10     |2023-03-10     |
+----------+-----------------------+----------+----------+----------+----------+-------------+-------------+-------------------+-------------------+---------------+---------------+

In [0]:
datetimesDF.\
    withColumn("date_trunc_month", trunc("date", "MM")).\
    withColumn("time_trunc", trunc("time", "yyyy")).\
    withColumn("date_trunc", date_trunc("dd", "date")).\
    withColumn("time_trunc", date_trunc("yy", "time")).\
    show(truncate=False)

+----------+-----------------------+----------------+-------------------+-------------------+
|date      |time                   |date_trunc_month|time_trunc         |date_trunc         |
+----------+-----------------------+----------------+-------------------+-------------------+
|2014-02-28|2014-02-28 10:00:00.123|2014-02-01      |2014-01-01 00:00:00|2014-02-28 00:00:00|
|2016-02-29|2016-02-29 08:08:08.999|2016-02-01      |2016-01-01 00:00:00|2016-02-29 00:00:00|
|2017-10-31|2017-12-31 11:59:59.123|2017-10-01      |2017-01-01 00:00:00|2017-10-31 00:00:00|
|2019-11-30|2019-08-31 00:00:00.000|2019-11-01      |2019-01-01 00:00:00|2019-11-30 00:00:00|
|2023-01-10|2023-01-10 00:00:00.000|2023-01-01      |2023-01-01 00:00:00|2023-01-10 00:00:00|
+----------+-----------------------+----------------+-------------------+-------------------+

In [0]:
df.\
    select(current_date().alias("current_date"),
           current_timestamp().alias("current_timestamp"),
           year(current_date()).alias("year"),
           month(current_date()).alias("month"),
           weekofyear(current_date()).alias("weekofyear"),
           dayofyear(current_date()).alias("dayofyear"),
           dayofmonth(current_date()).alias("dayofmonth"),
           dayofweek(current_date()).alias("dayofweek"),
           hour(current_timestamp()).alias("hour"),
           minute(current_timestamp()).alias("minute"),
           second(current_timestamp()).alias("second")
          )\
    .show(truncate=False)

+------------+-----------------------+----+-----+----------+---------+----------+---------+----+------+------+
|current_date|current_timestamp      |year|month|weekofyear|dayofyear|dayofmonth|dayofweek|hour|minute|second|
+------------+-----------------------+----+-----+----------+---------+----------+---------+----+------+------+
|2023-02-15  |2023-02-15 10:15:24.715|2023|2    |7         |46       |15        |4        |10  |15    |24    |
+------------+-----------------------+----+-----+----------+---------+----------+---------+----+------+------+

In [0]:
df.select(to_date(lit('2021061'), 'yyyyDDD').alias("date"),
         to_date(lit('02/03/2021'), 'dd/MM/yyy').alias("date1"),
         to_date(lit('02/Mar/2021'), 'dd/MMM/yyy').alias("date2"),
         to_date(lit('02/December/2021'), 'dd/MMMM/yyy').alias("date3"),
         to_timestamp(lit('02/Mar/2021'), 'dd/MMM/yyy').alias("date4"),
         to_timestamp(lit('02/Mar/2021 18:45:34'), 'dd/MMM/yyy HH:mm:ss').alias("date5")
         ).show()

+----------+----------+----------+----------+-------------------+-------------------+
|      date|     date1|     date2|     date3|              date4|              date5|
+----------+----------+----------+----------+-------------------+-------------------+
|2021-03-02|2021-03-02|2021-03-02|2021-12-02|2021-03-02 00:00:00|2021-03-02 18:45:34|
+----------+----------+----------+----------+-------------------+-------------------+

In [0]:
datetimesDF.\
    withColumn("date_YD", date_format("date", "yyyyDDD").cast("int")).\
    withColumn("date_YMD", date_format("date", "yyyydd").cast("int")).\
    withColumn("date_Desc", date_format("date", "MMMM EE, yyyy")).\
    withColumn("Week_name", date_format("date", "EEEE")).\
    withColumn("time_YM", date_format("time", "yyyyMM").cast("int")).\
    withColumn("time_HH", date_format("time", "yyyyddHHmm").cast("Long")).\
    withColumn("date_ts", date_format("date", "yyyyMMddHHmmss").cast("Long")).\
    show(truncate=False)

+----------+-----------------------+-------+--------+------------------+---------+-------+----------+--------------+
|date      |time                   |date_YD|date_YMD|date_Desc         |Week_name|time_YM|time_HH   |date_ts       |
+----------+-----------------------+-------+--------+------------------+---------+-------+----------+--------------+
|2014-02-28|2014-02-28 10:00:00.123|2014059|201428  |February Fri, 2014|Friday   |201402 |2014281000|20140228000000|
|2016-02-29|2016-02-29 08:08:08.999|2016060|201629  |February Mon, 2016|Monday   |201602 |2016290808|20160229000000|
|2017-10-31|2017-12-31 11:59:59.123|2017304|201731  |October Tue, 2017 |Tuesday  |201712 |2017311159|20171031000000|
|2019-11-30|2019-08-31 00:00:00.000|2019334|201930  |November Sat, 2019|Saturday |201908 |2019310000|20191130000000|
|2023-01-10|2023-01-10 00:00:00.000|2023010|202310  |January Tue, 2023 |Tuesday  |202301 |2023100000|20230110000000|
+----------+-----------------------+-------+--------+------------------+---------+-------+----------+--------------+

In [0]:
datetime = [
    (20140228, "2014-02-28", "2014-02-28 10:00:00"),
    (20160321, "2016-03-21", "2016-03-21 08:30:33"),
    (20140601, "2014-06-01", "2014-06-01 11:02:24"),
    (20161228, "2018-12-28", "2018-12-28 0:00:00")
]

In [0]:
dttimeDF = spark.createDataFrame(datetime).toDF("dateid", "date", "time")

In [0]:
dttimeDF.show()

+--------+----------+-------------------+
|  dateid|      date|               time|
+--------+----------+-------------------+
|20140228|2014-02-28|2014-02-28 10:00:00|
|20160321|2016-03-21|2016-03-21 08:30:33|
|20140601|2014-06-01|2014-06-01 11:02:24|
|20161228|2018-12-28| 2018-12-28 0:00:00|
+--------+----------+-------------------+

In [0]:
dttimeDF.\
    withColumn("unix_dateid", unix_timestamp(col("dateid").cast("string"), "yyyyMMdd")).\
    withColumn("unix_date", unix_timestamp("date", "yyyy-MM-dd")).\
    show()

+--------+----------+-------------------+-----------+----------+
|  dateid|      date|               time|unix_dateid| unix_date|
+--------+----------+-------------------+-----------+----------+
|20140228|2014-02-28|2014-02-28 10:00:00| 1393545600|1393545600|
|20160321|2016-03-21|2016-03-21 08:30:33| 1458518400|1458518400|
|20140601|2014-06-01|2014-06-01 11:02:24| 1401580800|1401580800|
|20161228|2018-12-28| 2018-12-28 0:00:00| 1482883200|1545955200|
+--------+----------+-------------------+-----------+----------+

In [0]:
unixtimes = [
    (1393545600, ),
    (1393545600, ),
    (1401580800, ),
    (1401580800, )
]

In [0]:
unixtimesDF = spark.createDataFrame(unixtimes).toDF("unixtime")

In [0]:
unixtimesDF.show()

+----------+
|  unixtime|
+----------+
|1393545600|
|1393545600|
|1401580800|
|1401580800|
+----------+

In [0]:
unixtimesDF.\
    withColumn("date", from_unixtime("unixtime", format="yyyyMMdd")).\
    withColumn("time", from_unixtime("unixtime")).\
    withColumn("time_stamp", from_unixtime("unixtime").cast("timestamp")).\
    show()

+----------+--------+-------------------+-------------------+
|  unixtime|    date|               time|         time_stamp|
+----------+--------+-------------------+-------------------+
|1393545600|20140228|2014-02-28 00:00:00|2014-02-28 00:00:00|
|1393545600|20140228|2014-02-28 00:00:00|2014-02-28 00:00:00|
|1401580800|20140601|2014-06-01 00:00:00|2014-06-01 00:00:00|
|1401580800|20140601|2014-06-01 00:00:00|2014-06-01 00:00:00|
+----------+--------+-------------------+-------------------+

In [0]:
sample = [
(1, "Scott", None, 1000.0, 10,
"united states", "+1 123 456 7890", "123 45 6789"
),
(2, "Henry", "Ford",  1250.0, None,
"India", "+91 234 567 8901", "456 78 9123"
),
(3, "Nick",None, 750.0, '',
"united KINGDOM", "+44 111 111 1111", "222 33 4444"
),
(4, "Bill", "Gomes", 1590.0,10,
"AUSTRALIA", "+61 987 654 3210", "789 12 6118"
)
]

In [0]:
sampleDF = spark.createDataFrame(sample, 
                                  schema= """employee_id INT , first_name STRING, last_name STRING,
                                  salary FLOAT, bonus STRING, nationality STRING, phone_number STRING , ssn STRING""" )

In [0]:
sampleDF.show()

+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|          1|     Scott|     null|1000.0|   10| united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0| null|         India|+91 234 567 8901|456 78 9123|
|          3|      Nick|     null| 750.0|     |united KINGDOM|+44 111 111 1111|222 33 4444|
|          4|      Bill|    Gomes|1590.0|   10|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+

In [0]:
from pyspark.sql.functions import coalesce , lit, col
sampleDF.\
    withColumn('bonus1', coalesce('bonus', lit(0))).\
    withColumn('bonus2', col('bonus1').cast("int")).\
     withColumn('bonus3', coalesce(col('bonus').cast("int"), lit(0))).\
    show()

+-----------+----------+---------+------+-----+--------------+----------------+-----------+------+------+------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|bonus1|bonus2|bonus3|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+------+------+------+
|          1|     Scott|     null|1000.0|   10| united states| +1 123 456 7890|123 45 6789|    10|    10|    10|
|          2|     Henry|     Ford|1250.0| null|         India|+91 234 567 8901|456 78 9123|     0|     0|     0|
|          3|      Nick|     null| 750.0|     |united KINGDOM|+44 111 111 1111|222 33 4444|      |  null|     0|
|          4|      Bill|    Gomes|1590.0|   10|     AUSTRALIA|+61 987 654 3210|789 12 6118|    10|    10|    10|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+------+------+------+

In [0]:
from pyspark.sql.functions import coalesce , lit, col, expr
sampleDF.\
     withColumn('bonus1',expr("nvl(bonus,0)")).\
     withColumn('bonus2',expr("nullif(bonus,'')")).\
     withColumn('bonus3',expr("nvl(nullif(bonus,''),0)")).\
    show()

+-----------+----------+---------+------+-----+--------------+----------------+-----------+------+------+------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|bonus1|bonus2|bonus3|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+------+------+------+
|          1|     Scott|     null|1000.0|   10| united states| +1 123 456 7890|123 45 6789|    10|    10|    10|
|          2|     Henry|     Ford|1250.0| null|         India|+91 234 567 8901|456 78 9123|     0|  null|     0|
|          3|      Nick|     null| 750.0|     |united KINGDOM|+44 111 111 1111|222 33 4444|      |  null|     0|
|          4|      Bill|    Gomes|1590.0|   10|     AUSTRALIA|+61 987 654 3210|789 12 6118|    10|    10|    10|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+------+------+------+

In [0]:
sampleDF.\
    withColumn('payment', col('salary')+(col('salary')*coalesce(col('bonus').cast('int'),lit(0)/100))).\
    show()

+-----------+----------+---------+------+-----+--------------+----------------+-----------+-------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|payment|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+-------+
|          1|     Scott|     null|1000.0|   10| united states| +1 123 456 7890|123 45 6789|11000.0|
|          2|     Henry|     Ford|1250.0| null|         India|+91 234 567 8901|456 78 9123| 1250.0|
|          3|      Nick|     null| 750.0|     |united KINGDOM|+44 111 111 1111|222 33 4444|  750.0|
|          4|      Bill|    Gomes|1590.0|   10|     AUSTRALIA|+61 987 654 3210|789 12 6118|17490.0|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+-------+

In [0]:
sampleDF.fillna(0.0).fillna('na','last_name').show()

+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|          1|     Scott|       na|1000.0|   10| united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0| null|         India|+91 234 567 8901|456 78 9123|
|          3|      Nick|       na| 750.0|     |united KINGDOM|+44 111 111 1111|222 33 4444|
|          4|      Bill|    Gomes|1590.0|   10|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+

In [0]:
sampleDF.\
    withColumn('bonus',
              expr("""
              CASE WHEN bonus IS NULL OR bonus = '' THEN 0
              ELSE bonus
              end
              """)).\
    show()

+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|          1|     Scott|     null|1000.0|   10| united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0|    0|         India|+91 234 567 8901|456 78 9123|
|          3|      Nick|     null| 750.0|    0|united KINGDOM|+44 111 111 1111|222 33 4444|
|          4|      Bill|    Gomes|1590.0|   10|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+

In [0]:
from pyspark.sql.functions import when
sampleDF.\
    withColumn("category",
              when ((col('salary')>0) & (col('salary')<=1000 ), '1evel-1').
              when ((col('salary')>1000) & (col('salary')<=1500 ), '1evel-2').
              when ((col('salary')>1500) & (col('salary')<=2000 ), '1evel-3').
              otherwise('level-0')
              ).show()

+-----------+----------+---------+------+-----+--------------+----------------+-----------+--------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|category|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+--------+
|          1|     Scott|     null|1000.0|   10| united states| +1 123 456 7890|123 45 6789| 1evel-1|
|          2|     Henry|     Ford|1250.0| null|         India|+91 234 567 8901|456 78 9123| 1evel-2|
|          3|      Nick|     null| 750.0|     |united KINGDOM|+44 111 111 1111|222 33 4444| 1evel-1|
|          4|      Bill|    Gomes|1590.0|   10|     AUSTRALIA|+61 987 654 3210|789 12 6118| 1evel-3|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+--------+

In [0]:
from pyspark.sql import Row

In [0]:

import datetime
users = [
    {
        "id": 1,
        "first_name": "Corrie",
        "last_name": "Van den Oord",
        "email": "cvandenoorde@etsy.com",
        "gender": "male",
        "current_city": "Dallas",
        "phone_numbers": Row (mobile="+1 234 567 8901", home="+1 234 567 8911"),
        "courses": [1, 2],
        "is_customer": True,
        "amount_paid": 1000.55,
        "customer_from": datetime.date (2021, 1, 15),
        "last_updated_ts": datetime.datetime (2021, 2, 10, 1, 15, 0)
    },
    {
        "id": 2,
        "first_name": "Nikolaus",
        "last_name": "Brewitt",
        "email": "nbrewittl@dailymail.co.uk",
        "gender": "male",
        "current_city": "Dallas",
        "phone_numbers": Row (mobile="+1 234 767 8901", home="+1 234 767 8911"),
        "courses": [3],
        "is_customer": True,
        "amount_paid": 900.0,
        "customer_from": datetime.date (2021, 2, 14),
        "last_updated_ts": datetime.datetime (2021, 2, 10, 1, 15, 0)
    },
    {
        "id": 3,
        "first_name": "Orelie",
        "last_name": "penney",
        "email": "penney2@dailymail.co.uk",
        "gender": "female",
        "current_city": "",
        "phone_numbers": Row (mobile="+1 234 767 8901", home="+1 234 767 8911"),
        "courses": [2,4],
        "is_customer": True,
        "amount_paid": 890.0,
        "customer_from": datetime.date (2021, 1, 21),
        "last_updated_ts": datetime.datetime (2021, 3, 10, 1, 15, 0)
    },
    {
        "id": 4,
        "first_name": "Ashby",
        "last_name": "MAddocks",
        "email": "maddocks@home.plk",
        "gender": "male",
        "current_city": "San Frnasisco",
        "phone_numbers": Row (mobile=None, home=None),
        "courses": [],
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime (2021, 4, 10, 17, 45, 30)
    },
    {
        "id": 5,
        "first_name": "Kurt",
        "last_name": "Rome",
        "email": "krome4@shutterfly.com",
        "gender": "female",
        "current_city": None,
        "phone_numbers": Row (mobile="+1 817 934 7142", home=None),
        "courses": [],
        "is_customer": False,
        "amount_paid": None,
        "customer_from": None,
        "last_updated_ts": datetime.datetime (2021, 4, 2, 0, 55, 18)
    }
]

In [0]:
import pandas as pd

In [0]:
spark.conf.set('spark.sql.execurion.arrow.pyspark.enabled',False)

In [0]:
users_df = spark.createDataFrame(pd.DataFrame(users))

In [0]:
users_df.show(truncate=False)

+---+----------+------------+-------------------------+------+-------------+----------------------------------+-------+-----------+-----------+-------------+-------------------+
|id |first_name|last_name   |email                    |gender|current_city |phone_numbers                     |courses|is_customer|amount_paid|customer_from|last_updated_ts    |
+---+----------+------------+-------------------------+------+-------------+----------------------------------+-------+-----------+-----------+-------------+-------------------+
|1  |Corrie    |Van den Oord|cvandenoorde@etsy.com    |male  |Dallas       |[+1 234 567 8901, +1 234 567 8911]|[1, 2] |true       |1000.55    |2021-01-15   |2021-02-10 01:15:00|
|2  |Nikolaus  |Brewitt     |nbrewittl@dailymail.co.uk|male  |Dallas       |[+1 234 767 8901, +1 234 767 8911]|[3]    |true       |900.0      |2021-02-14   |2021-02-10 01:15:00|
|3  |Orelie    |penney      |penney2@dailymail.co.uk  |female|             |[+1 234 767 8901, +1 234 767 8911]|[2, 4] |true       |890.0      |2021-01-21   |2021-03-10 01:15:00|
|4  |Ashby     |MAddocks    |maddocks@home.plk        |male  |San Frnasisco|[null, null]                      |[]     |false      |null       |null         |2021-04-10 17:45:30|
|5  |Kurt      |Rome        |krome4@shutterfly.com    |female|null         |[+1 817 934 7142, null]           |[]     |false      |null       |null         |2021-04-02 00:55:18|
+---+----------+------------+-------------------------+------+-------------+----------------------------------+-------+-----------+-----------+-------------+-------------------+

In [0]:
users_df.createOrReplaceTempView('users')

In [0]:
users_df.where('id<=2').show()
users_df.filter(users_df['id']==3).show()

+---+----------+------------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|gender|current_city|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord|cvandenoorde@etsy...|  male|      Dallas|[+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|  Nikolaus|     Brewitt|nbrewittl@dailyma...|  male|      Dallas|[+1 234 767 8901,...|    [3]|       true|      900.0|   2021-02-14|2021-02-10 01:15:00|
+---+----------+------------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+

+---+----------+---------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|               email|gender|current_city|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  3|    Orelie|   penney|penney2@dailymail...|female|            |[+1 234 767 8901,...| [2, 4]|       true|      890.0|   2021-01-21|2021-03-10 01:15:00|
+---+----------+---------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [0]:
spark.sql("""
            SELECT *
            FROM
            users
            where id<=2
            """).show()

+---+----------+------------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|gender|current_city|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord|cvandenoorde@etsy...|  male|      Dallas|[+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|  Nikolaus|     Brewitt|nbrewittl@dailyma...|  male|      Dallas|[+1 234 767 8901,...|    [3]|       true|      900.0|   2021-02-14|2021-02-10 01:15:00|
+---+----------+------------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [0]:
users_df.filter(col('is_customer')==False).show()
users_df.filter(col('is_customer')=='false').show()
users_df.filter('is_customer=false').show()

+---+----------+---------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|               email|gender| current_city|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  4|     Ashby| MAddocks|   maddocks@home.plk|  male|San Frnasisco|        [null, null]|     []|      false|       null|         null|2021-04-10 17:45:30|
|  5|      Kurt|     Rome|krome4@shutterfly...|female|         null|[+1 817 934 7142,...|     []|      false|       null|         null|2021-04-02 00:55:18|
+---+----------+---------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+

+---+----------+---------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|               email|gender| current_city|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  4|     Ashby| MAddocks|   maddocks@home.plk|  male|San Frnasisco|        [null, null]|     []|      false|       null|         null|2021-04-10 17:45:30|
|  5|      Kurt|     Rome|krome4@shutterfly...|female|         null|[+1 817 934 7142,...|     []|      false|       null|         null|2021-04-02 00:55:18|
+---+----------+---------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+

+---+----------+---------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|               email|gender| current_city|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  4|     Ashby| MAddocks|   maddocks@home.plk|  male|San Frnasisco|        [null, null]|     []|      false|       null|         null|2021-04-10 17:45:30|
|  5|      Kurt|     Rome|krome4@shutterfly...|female|         null|[+1 817 934 7142,...|     []|      false|       null|         null|2021-04-02 00:55:18|
+---+----------+---------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [0]:
spark.sql("""
            SELECT *
            FROM users
            WHERE amount_paid>=900""").show()

+---+----------+------------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|gender|current_city|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord|cvandenoorde@etsy...|  male|      Dallas|[+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|  Nikolaus|     Brewitt|nbrewittl@dailyma...|  male|      Dallas|[+1 234 767 8901,...|    [3]|       true|      900.0|   2021-02-14|2021-02-10 01:15:00|
+---+----------+------------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [0]:
from pyspark.sql.functions import isnan
users_df.select('amount_paid', isnan('amount_paid')).show()

+-----------+------------------+
|amount_paid|isnan(amount_paid)|
+-----------+------------------+
|    1000.55|             false|
|      900.0|             false|
|      890.0|             false|
|       null|             false|
|       null|             false|
+-----------+------------------+

In [0]:
users_df.\
    select('id',
          'first_name',
          'current_city').\
    where("current_city!='' AND current_city='Dallas'").\
    show()

+---+----------+------------+
| id|first_name|current_city|
+---+----------+------------+
|  1|    Corrie|      Dallas|
|  2|  Nikolaus|      Dallas|
+---+----------+------------+

In [0]:
users_df.\
    select ('id','first_name').\
    filter(col('last_updated_ts').between('2021-02-10 00:00:00','2021-03-15 23:59:59')).\
    show()

+---+----------+
| id|first_name|
+---+----------+
|  1|    Corrie|
|  2|  Nikolaus|
|  3|    Orelie|
+---+----------+

In [0]:
users_df.\
    select ('id','first_name').\
    filter("last_updated_ts BETWEEN '2021-02-10 00:00:00' AND '2021-03-15 23:59:59'").\
    show()

+---+----------+
| id|first_name|
+---+----------+
|  1|    Corrie|
|  2|  Nikolaus|
|  3|    Orelie|
+---+----------+

In [0]:
# sorting in ascending order
users_df.sort('first_name').show()
users_df.sort(users_df.first_name).show()
users_df.sort(users_df['first_name']).show()
users_df.sort(col('first_name')).show()
users_df.sort(asc('first_name')).show()

+---+----------+------------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|gender| current_city|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  4|     Ashby|    MAddocks|   maddocks@home.plk|  male|San Frnasisco|        [null, null]|     []|      false|       null|         null|2021-04-10 17:45:30|
|  1|    Corrie|Van den Oord|cvandenoorde@etsy...|  male|       Dallas|[+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  5|      Kurt|        Rome|krome4@shutterfly...|female|         null|[+1 817 934 7142,...|     []|      false|       null|         null|2021-04-02 00:55:18|
|  2|  Nikolaus|     Brewitt|nbrewittl@dailyma...|  male|       Dallas|[+1 234 767 8901,...|    [3]|       true|      900.0|   2021-02-14|2021-02-10 01:15:00|
|  3|    Orelie|      penney|penney2@dailymail...|female|             |[+1 234 767 8901,...| [2, 4]|       true|      890.0|   2021-01-21|2021-03-10 01:15:00|
+---+----------+------------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+

+---+----------+------------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|gender| current_city|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  4|     Ashby|    MAddocks|   maddocks@home.plk|  male|San Frnasisco|        [null, null]|     []|      false|       null|         null|2021-04-10 17:45:30|
|  1|    Corrie|Van den Oord|cvandenoorde@etsy...|  male|       Dallas|[+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  5|      Kurt|        Rome|krome4@shutterfly...|female|         null|[+1 817 934 7142,...|     []|      false|       null|         null|2021-04-02 00:55:18|
|  2|  Nikolaus|     Brewitt|nbrewittl@dailyma...|  male|       Dallas|[+1 234 767 8901,...|    [3]|       true|      900.0|   2021-02-14|2021-02-10 01:15:00|
|  3|    Orelie|      penney|penney2@dailymail...|female|             |[+1 234 767 8901,...| [2, 4]|       true|      890.0|   2021-01-21|2021-03-10 01:15:00|
+---+----------+------------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+

+---+----------+------------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|gender| current_city|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  4|     Ashby|    MAddocks|   maddocks@home.plk|  male|San Frnasisco|        [null, null]|     []|      false|       null|         null|2021-04-10 17:45:30|
|  1|    Corrie|Van den Oord|cvandenoorde@etsy...|  male|       Dallas|[+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  5|      Kurt|        Rome|krome4@shutterfly...|female|         null|[+1 817 934 7142,...|     []|      false|       null|         null|2021-04-02 00:55:18|
|  2|  Nikolaus|     Brewitt|nbrewittl@dailyma...|  male|       Dallas|[+1 234 767 8901,...|    [3]|       true|      900.0|   2021-02-14|2021-02-10 01:15:00|
|  3|    Orelie|      penney|penney2@dailymail...|female|             |[+1 234 767 8901,...| [2, 4]|       true|      890.0|   2021-01-21|2021-03-10 01:15:00|
+---+----------+------------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+

+---+----------+------------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|gender| current_city|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  4|     Ashby|    MAddocks|   maddocks@home.plk|  male|San Frnasisco|        [null, null]|     []|      false|       null|         null|2021-04-10 17:45:30|
|  1|    Corrie|Van den Oord|cvandenoorde@etsy...|  male|       Dallas|[+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  5|      Kurt|        Rome|krome4@shutterfly...|female|         null|[+1 817 934 7142,...|     []|      false|       null|         null|2021-04-02 00:55:18|
|  2|  Nikolaus|     Brewitt|nbrewittl@dailyma...|  male|       Dallas|[+1 234 767 8901,...|    [3]|       true|      900.0|   2021-02-14|2021-02-10 01:15:00|
|  3|    Orelie|      penney|penney2@dailymail...|female|             |[+1 234 767 8901,...| [2, 4]|       true|      890.0|   2021-01-21|2021-03-10 01:15:00|
+---+----------+------------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+

+---+----------+------------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|gender| current_city|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  4|     Ashby|    MAddocks|   maddocks@home.plk|  male|San Frnasisco|        [null, null]|     []|      false|       null|         null|2021-04-10 17:45:30|
|  1|    Corrie|Van den Oord|cvandenoorde@etsy...|  male|       Dallas|[+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  5|      Kurt|        Rome|krome4@shutterfly...|female|         null|[+1 817 934 7142,...|     []|      false|       null|         null|2021-04-02 00:55:18|
|  2|  Nikolaus|     Brewitt|nbrewittl@dailyma...|  male|       Dallas|[+1 234 767 8901,...|    [3]|       true|      900.0|   2021-02-14|2021-02-10 01:15:00|
|  3|    Orelie|      penney|penney2@dailymail...|female|             |[+1 234 767 8901,...| [2, 4]|       true|      890.0|   2021-01-21|2021-03-10 01:15:00|
+---+----------+------------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [0]:
# sorting data based on size of list
from pyspark.sql.functions import size
users_df.\
    select('id','courses').\
    withColumn('courses_count',size('courses')).\
    sort(size('courses')).\
    show()

+---+-------+-------------+
| id|courses|courses_count|
+---+-------+-------------+
|  4|     []|            0|
|  5|     []|            0|
|  2|    [3]|            1|
|  1| [1, 2]|            2|
|  3| [2, 4]|            2|
+---+-------+-------------+

In [0]:
#sorting in descending order
users_df.sort('first_name', ascending=False).show()
users_df.sort(col('first_name').desc()).show()
users_df.sort(desc('first_name')).show()

+---+----------+------------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|gender| current_city|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  3|    Orelie|      penney|penney2@dailymail...|female|             |[+1 234 767 8901,...| [2, 4]|       true|      890.0|   2021-01-21|2021-03-10 01:15:00|
|  2|  Nikolaus|     Brewitt|nbrewittl@dailyma...|  male|       Dallas|[+1 234 767 8901,...|    [3]|       true|      900.0|   2021-02-14|2021-02-10 01:15:00|
|  5|      Kurt|        Rome|krome4@shutterfly...|female|         null|[+1 817 934 7142,...|     []|      false|       null|         null|2021-04-02 00:55:18|
|  1|    Corrie|Van den Oord|cvandenoorde@etsy...|  male|       Dallas|[+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  4|     Ashby|    MAddocks|   maddocks@home.plk|  male|San Frnasisco|        [null, null]|     []|      false|       null|         null|2021-04-10 17:45:30|
+---+----------+------------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+

+---+----------+------------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|gender| current_city|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  3|    Orelie|      penney|penney2@dailymail...|female|             |[+1 234 767 8901,...| [2, 4]|       true|      890.0|   2021-01-21|2021-03-10 01:15:00|
|  2|  Nikolaus|     Brewitt|nbrewittl@dailyma...|  male|       Dallas|[+1 234 767 8901,...|    [3]|       true|      900.0|   2021-02-14|2021-02-10 01:15:00|
|  5|      Kurt|        Rome|krome4@shutterfly...|female|         null|[+1 817 934 7142,...|     []|      false|       null|         null|2021-04-02 00:55:18|
|  1|    Corrie|Van den Oord|cvandenoorde@etsy...|  male|       Dallas|[+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  4|     Ashby|    MAddocks|   maddocks@home.plk|  male|San Frnasisco|        [null, null]|     []|      false|       null|         null|2021-04-10 17:45:30|
+---+----------+------------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+

+---+----------+------------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|gender| current_city|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  3|    Orelie|      penney|penney2@dailymail...|female|             |[+1 234 767 8901,...| [2, 4]|       true|      890.0|   2021-01-21|2021-03-10 01:15:00|
|  2|  Nikolaus|     Brewitt|nbrewittl@dailyma...|  male|       Dallas|[+1 234 767 8901,...|    [3]|       true|      900.0|   2021-02-14|2021-02-10 01:15:00|
|  5|      Kurt|        Rome|krome4@shutterfly...|female|         null|[+1 817 934 7142,...|     []|      false|       null|         null|2021-04-02 00:55:18|
|  1|    Corrie|Van den Oord|cvandenoorde@etsy...|  male|       Dallas|[+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  4|     Ashby|    MAddocks|   maddocks@home.plk|  male|San Frnasisco|        [null, null]|     []|      false|       null|         null|2021-04-10 17:45:30|
+---+----------+------------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [0]:
users_df.\
    select('id','customer_from').\
    orderBy(col('customer_from')).\
    show()

+---+-------------+
| id|customer_from|
+---+-------------+
|  4|         null|
|  5|         null|
|  1|   2021-01-15|
|  3|   2021-01-21|
|  2|   2021-02-14|
+---+-------------+

In [0]:
users_df.\
    select('id','customer_from').\
    orderBy(col('customer_from').asc_nulls_last()).\
    show()

+---+-------------+
| id|customer_from|
+---+-------------+
|  1|   2021-01-15|
|  3|   2021-01-21|
|  2|   2021-02-14|
|  4|         null|
|  5|         null|
+---+-------------+

In [0]:
users_df.\
    select('id','customer_from').\
    orderBy(col('customer_from').desc()).\
    show()

+---+-------------+
| id|customer_from|
+---+-------------+
|  2|   2021-02-14|
|  3|   2021-01-21|
|  1|   2021-01-15|
|  4|         null|
|  5|         null|
+---+-------------+

In [0]:
users_df.dropDuplicates(subset=["is_customer"]).show()

+---+----------+------------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|gender| current_city|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  4|     Ashby|    MAddocks|   maddocks@home.plk|  male|San Frnasisco|        [null, null]|     []|      false|       null|         null|2021-04-10 17:45:30|
|  1|    Corrie|Van den Oord|cvandenoorde@etsy...|  male|       Dallas|[+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
+---+----------+------------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+